In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

In [2]:
df = pd.read_csv('Uncleaned_DS_jobs.csv')
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
5,5,Data Scientist,$137K-$171K (Glassdoor est.),About Us:\n\nHeadquartered in beautiful Santa ...,4.2,HG Insights\n4.2,"Santa Barbara, CA","Santa Barbara, CA",51 to 200 employees,2010,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
6,6,Data Scientist / Machine Learning Expert,$137K-$171K (Glassdoor est.),Posting Title\nData Scientist / Machine Learni...,3.9,Novartis\n3.9,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1
7,7,Data Scientist,$137K-$171K (Glassdoor est.),Introduction\n\nHave you always wanted to run ...,3.5,iRobot\n3.5,"Bedford, MA","Bedford, MA",1001 to 5000 employees,1990,Company - Public,Consumer Electronics & Appliances Stores,Retail,$1 to $2 billion (USD),-1
8,8,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block"
9,9,Data Scientist,$137K-$171K (Glassdoor est.),Ready to write the best chapter of your career...,3.6,XSELL Technologies\n3.6,"Chicago, IL","Chicago, IL",51 to 200 employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
10,10,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton"
11,11,Data Scientist,$137K-$171K (Glassdoor est.),About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,2016,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,"Slalom, Daugherty Business Solutions"
12,12,"Data Scientist - Statistics, Early Career",$137K-$171K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310918\n\n...,3.7,PNNL\n3.7,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
13,13,Data Modeler,$137K-$171K (Glassdoor est.),POSITION PURPOSE:\n\nThe Data Architect/Data M...,3.1,Old World Industries\n3.1,"Northbrook, IL","Northbrook, IL",201 to 500 employees,1973,Company - Private,Chemical Manufacturing,Manufacturing,$1 to $2 billion (USD),-1
14,14,Data Scientist,$137K-$171K (Glassdoor est.),Position Description:\n\nWant to make a differ...,3.4,Mathematica Policy Research\n3.4,"Washington, DC","Princeton, NJ",1001 to 5000 employees,1986,Company - Private,Consulting,Business Services,$100 to $500 million (USD),-1
15,15,Experienced Data Scientist,$137K-$171K (Glassdoor est.),*******Please Apply using this link: https://a...,4.4,Guzman & Griffin Technologies (GGTI)\n4.4,"Washington, DC","Mays Landing, NJ",1 to 50 employees,1997,Company - Private,Federal Agencies,Government,Unknown / Non-Applicable,-1
16,16,Data Scientist - Contract,$137K-$171K (Glassdoor est.),"We are an ambitious, well-funded startup with ...",4.1,Upside Business Travel\n4.1,Remote,"Washington, DC",51 to 200 employees,2015,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
17,17,Data Scientist,$137K-$171K (Glassdoor est.),Job Success Profile\n\nData Scientist\n\nBuckm...,3.5,Buckman\n3.5,"Memphis, TN","Memphis, TN",1001 to 5000 employees,1945,Company - Private,Chemical Manufacturing,Manufacturing,$500 million to $1 billion (USD),-1
18,18,Data Analyst II,$137K-$171K (Glassdoor est.),The Data Analyst II is responsible for data en...,4.2,"Insight Enterprises, Inc.\n4.2","Plano, TX","Tempe, AZ",5001 to 10000 employees,1988,Company - Public,Enterprise Software & Network Solutions,Information Technology,$5 to $10 billion (USD),"CDW, PCM, SHI International"
19,19,Medical Lab Scientist,$137K-$171K (Glassdoor est.),Responsibilities\n\n\nThe Medical Laboratory S...,3.5,Tower Health\n3.5,"West Grove, PA","Reading, PA",5001 to 10000 employees,2017,Nonprofit Organization,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1
20,20,Data Scientist,$137K-$171K (Glassdoor est.),Role Description\nAs a data scientist at Tripl...,3.2,Triplebyte\n3.2,"New York, NY","San Francisco, CA",51 to 200 employees,2015,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
21,21,Data Scientist/Machine Learning,$137K-$171K (Glassdoor est.),"PulsePoint™, a global programmatic advertising...",4.3,PulsePoint\n4.3,"New York, NY","New York, NY",51 to 200 employees,2011,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"Crossix Solutions Inc., AppNexus, The Trade Desk"
22,22,Human Factors Scientist,$137K-$171K (Glassdoor est.),Human Factors Scientist\nID\n\n3336\n\nLocatio...,3.5,Exponent\n3.5,"Phoenix, AZ","Menlo Park, CA",1001 to 5000 employees,1967,Company - Public,Consulting,Business Services,$100 to $500 million (USD),-1
23,23,Business Intelligence Analyst I- Data Insights,$137K-$171K (Glassdoor est.),Position Summary\n\nIndividuals within the\nBu...,3.5,Guardian Life\n3.5,"Appleton, WI","New York, NY",5001 to 10000 employees,1860,Company - Private,Insurance Carriers,Insurance,$5 to $10 billion (USD),Northwestern Mutual
24,24,Data Scientist,$137K-$171K (Glassdoor est.),What’s significantly better than working on a ...,3.4,Spectrum Communications and Consulting\n3.4,"Chicago, IL","Chicago, IL",51 to 200 employees,1992,Company - Private,Advertising & Marketing,Business Services,$10 to $25 million (USD),-1
25,25,Data Scientist,$137K-$171K (Glassdoor est.),Job Description\n\n\nOversight is a leading pr...,4.7,Oversight Systems\n4.7,"Atlanta, GA","Atlanta, GA",51 to 200 employees,2003,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD),-1
26,26,Data Scientist - Risk,$137K-$171K (Glassdoor est.),Job Title: Data Scientist (Risk)\n\nLocation: ...,4.2,LSQ\n4.2,"Orlando, FL","Orlando, FL",51 to 200 employees,1996,Company - Private,Investment Banking & Asset Management,Finance,$100 to $500 million (USD),-1
27,27,Data Scientist-Human Resources,$137K-$171K (Glassdoor est.),"Lexington, MA, US\n\n#job-location.job-locatio...",3.8,MIT Lincoln Laboratory\n3.8,"Lexington, MA","Lexington, MA",1001 to 5000 employees,1951,Nonprofit Organization,Aerospace & Defense,Aerospace & Defense,Unknown / Non-Applicable,-1
28,28,Data Scientist,$137K-$171K (Glassdoor est.),"Kingfisher Systems, Inc. specializes in provid...",4.5,Kingfisher Systems\n4.5,"McLean, VA","Falls Church, VA",51 to 200 employees,2005,Company - Private,Federal Agencies,Government,$25 to $50 million (USD),-1
29,29,Data Scientist,$137K-$171K (Glassdoor est.),Formation provides personalization for the lar...,2.8,Formation\n2.8,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2015,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,642,Data Engineer,$92K-$155K (Glassdoor est.),JOB SUMMARY:\nWe are looking for a savvy Data ...,3.3,Americo Life\n3.3,"Kansas City, MO","Kansas City, MO",201 to 500 employees,1992,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),-1
643,643,Data Scientist,$92K-$155K (Glassdoor est.),Tokio Marine HCC is a leading specialty insura...,3.3,Tokio Marine HCC\n3.3,"Houston, TX","Houston, TX",1001 to 5000 employees,1974,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,"Zurich Insurance, AXA XL, Allianz"
644,644,Data Scientist,$92K-$155K (Glassdoor est.),Job Description\n\nCACI is seeking fully clear...,3.5,CACI International\n3.5,"Chantilly, VA","Arlington, VA",10000+ employees,1962,Company - Public,Aerospace & Defense,Aerospace & Defense,$2 to $5 billion (USD),"CSC, ManTech, SAIC"
645,645,"AI/ML - Machine Learning Scientist, Siri Under...",$92K-$155K (Glassdoor est.),"Posted: May 2, 2020\nRole Number:\n200018211\n...",4.1,Apple\n4.1,"Santa Clara, CA","Cupertino, CA",10000+ employees,1976,Company - Public,Computer Hardware & Software,Information Technology,$10+ billion (USD),"Google, Microsoft, Samsung Electronics"
646,646,Data Scientist,$92K-$155K (Glassdoor est.),Please review the job details below.\nWe are l...,3.5,Maxar Technologies\n3.5,"Herndon, VA","Westminster, CO",5001 to 10000 employees,-1,Company - Public,Aerospace & Defense,Aerospace & Defense,$2 to $5 billion (USD),-1
647,647,ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPU...,$92K-$155K (Glassdoor est.),Join our Defense and Intelligence Solutions Di...,3.9,Southwest Research Institute\n3.9,"Oklahoma City, OK","San Antonio, TX",1001 to 5000 employees,1947,Nonprofit Organization,Research & Development,Business Services,$500 million to $1 billion (USD),"Los Alamos National Laboratory, Battelle, SRI ..."
648,648,Data Scientist,$92K-$155K (Glassdoor est.),Job Description\nOur client is committed to un...,4.7,Compass Consulting Group\n4.7,"Thousand Oaks, CA","Danville, CA",51 to 200 employees,2008,Company - Private,Consulting,Business Services,Unknown / Non-Applicable,-1
649,649,Data Science Software Engineer,$92K-$155K (Glassdoor est.),We love programming and the excitement that co...,4.8,Klaviyo\n4.8,"Boston, MA","Boston, MA",201 to 500 employees,2012,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
650,650,"Scientist / Group Lead, Cancer Biology",$92K-$155K (Glassdoor est.),"Scientist / Group Lead, Cancer Biology\nLocati...",-1.0,Monte Rosa Therapeutics,"Cambridge, MA",-1,-1,-1,-1,-1,-1,-1,-1
651,651,AI Ops Data Scientist,$92K-$155K (Glassdoor est.),"Company\n\nAstraZeneca is a global, innovation...",4.0,AstraZeneca\n4.0,"Gaithersburg, MD","Cambridge, United Kingdom",10000+ employees,1913,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Roche, GlaxoSmithKline, Novartis"
652,652,Senior Data Scientist,$105K-$167K (Glassdoor est.),"About Us\n\nAt GutCheck, we pioneered agile ma...",3.8,GutCheck\n3.8,"Denver, CO","Denver, CO",51 to 200 employees,2009,Company - Private,Advertising & Marketing,Business Services,$10 to $25 million (USD),"Nielsen, Zappi, SurveyMonkey"
653,653,Sr. ML/Data Scientist - AI/NLP/Chatbot,$105K-$167K (Glassdoor est.),Sr. ML/Data Scientist - AI/NLP/Chatbot\n\nMist...,3.8,Juniper Networks\n3.8,"Cupertino, CA","Sunnyvale, CA",5001 to 10000 employees,1996,Company - Public,Telecommunications Services,Telecommunications,$2 to $5 billion (USD),-1
654,654,Data Scientist,$105K-$167K (Glassdoor est.),JOB DESCRIPTION:\n\nHexagon US Federal is look...,2.7,Hexagon US Federal\n2.7,"Lexington Park, MD","Chantilly, VA",51 to 200 employees,2010,Company - Public,Aerospace & Defense,Aerospace & Defense,Unknown / Non-Applicable,-1
655,655,Data Scientist,$105K-$167K (Glassdoor est.),"Role: Data ScientistÂ\n\nLocation: Washington,...",4.0,Comtech Global Inc\n4.0,"Washington, DC","Columbus, OH",51 to 200 employees,-1,Company - Private,"Health, Beauty, & Fitness",Consumer Services,$5 to $10 million (USD),-1
656,656,Data Scientist,$105K-$167K (Glassdoor est.),Join our team dedicated to developing and exec...,-1.0,Berico Technologies,"Fort Belvoir, VA",-1,-1,-1,-1,-1,-1,-1,-1
657,657,Data Scientist,$105K-$167K (Glassdoor est.),"Overview\n\nGood people, working with good peo...",-1.0,Kehe Food Distributors,"Naperville, IL",-1,-1,-1,-1,-1,-1,-1,-1
658,658,Data Scientist,$105K-$167K (Glassdoor est.),The work is in support of targeting and watchl...,3.8,"Aveshka, Inc.\n3.8","Washington, DC","Arlington, VA",51 to 200 employees,2010,Company - Public,IT Services,Information Technology,$10 to $25 million (USD),-1
659,659,Data Scientist,$105K-$167K (Glassdoor est.),Position is in support of the U.S. Army CCDC C...,3.2,Perspecta\n3.2,"Adelphi, MD","Chantilly, VA",10000+ employees,2018,Company - Public,Aerospace & Defense,Aerospace & Defense,Unknown / Non-Applicable,-1
660,660,Data Scientist,$105K-$167K (Glassdoor est.),"Location: Redmond, WA\nClient: Microsoft (Un-M...",-1.0,Pactera Edge,"Redmond, WA",-1,-1,-1,-1,-1,-1,-1,-1
661,661,Data Scientist,$105K-$167K (Glassdoor est.),Our Data Scientist is responsible for in-depth...,3.6,Qurate Retail Group\n3.6,"West Chester, PA","West Chester, PA",10000+ employees,-1,Company - Public,Other Retail Stores,Retail,Unknown / Non-Applicable,-1
662,662,Data Scientist,$105K-$167K (Glassdoor est.),Solution IT Inc. is looking for an Data Scient...,4.4,"SolutionIT, Inc.\n4.4","Edison, NJ","Wilmington, MA",51 to 200 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1
663,663,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nEducation and Experience:\nAt...,4.1,A-Line Staffing Solutions\n4.1,"Durham, NC","Utica, MI",501 to 1000 employees,2004,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1
664,664,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nClear Ridge has an exciting o...,-1.0,Clear Ridge Defense,"Quantico, VA","Baltimore, MD",1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1
665,665,Data Scientist,$105K-$167K (Glassdoor est.),Criterion Systems seeks a Data Scientist to su...,3.8,"Criterion Systems, Inc.\n3.8","Vienna, VA","Vienna, VA",201 to 500 employees,2005,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1
666,666,Data Scientist,$105K-$167K (Glassdoor est.),About Foundation Medicine:\n\nFoundation Medic...,4.0,Foundation Medicine\n4.0,"Boston, MA","Cambridge, MA",1001 to 5000 employees,2010,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD),"Genomic Health, Myriad Genetics, The Broad Ins..."
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
index                672 non-null int64
Job Title            672 non-null object
Salary Estimate      672 non-null object
Job Description      672 non-null object
Rating               672 non-null float64
Company Name         672 non-null object
Location             672 non-null object
Headquarters         672 non-null object
Size                 672 non-null object
Founded              672 non-null int64
Type of ownership    672 non-null object
Industry             672 non-null object
Sector               672 non-null object
Revenue              672 non-null object
Competitors          672 non-null object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.8+ KB

In [4]:
df.iloc[:, 0:4].head()

,index,Job Title,Salary Estimate,Job Description
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ..."
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...

In [5]:
df.iloc[:, 4:11].head()

,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership
0,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization
1,4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public
2,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm
3,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public
4,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private

In [6]:
df.iloc[:, 11:16].head()

,Industry,Sector,Revenue,Competitors
0,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Consulting,Business Services,$100 to $500 million (USD),-1
3,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [7]:
df.columns

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [8]:
df = df.drop_duplicates()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 672 entries, 0 to 671
Data columns (total 15 columns):
index                672 non-null int64
Job Title            672 non-null object
Salary Estimate      672 non-null object
Job Description      672 non-null object
Rating               672 non-null float64
Company Name         672 non-null object
Location             672 non-null object
Headquarters         672 non-null object
Size                 672 non-null object
Founded              672 non-null int64
Type of ownership    672 non-null object
Industry             672 non-null object
Sector               672 non-null object
Revenue              672 non-null object
Competitors          672 non-null object
dtypes: float64(1), int64(2), object(12)
memory usage: 84.0+ KB

In [10]:
#df.to_csv('Job_posting_on_Glossdor.csv', sep=',', index=False)

In [11]:
df.iloc[15]

index                                                               15
Job Title                                   Experienced Data Scientist
Salary Estimate                           $137K-$171K (Glassdoor est.)
Job Description      *******Please Apply using this link: https://a...
Rating                                                             4.4
Company Name                 Guzman & Griffin Technologies (GGTI)\n4.4
Location                                                Washington, DC
Headquarters                                          Mays Landing, NJ
Size                                                 1 to 50 employees
Founded                                                           1997
Type of ownership                                    Company - Private
Industry                                              Federal Agencies
Sector                                                      Government
Revenue                                       Unknown / Non-Applicable
Competitors                                                         -1
Name: 15, dtype: object

In [12]:
# Enlèvons 'Glassdor est.' de la colonne 'Salary Estimate'
df['Salary Estimate'] = df['Salary Estimate'].str.replace('Glassdoor est.', '')
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

#### Séparons la colonne location en deux colonne 'City location' 'State location'

In [13]:
# En utilisant str.extract avec une expression régulière, nous pouvons avoir plus de flexibilité 
# pour capturer les motifs souhaités dans la colonne 'Location'. 
# L'expression régulière r'^(.*?),\s*(.*?)$' a été conçue pour capturer le contenu avant
# et après la virgule, tout en gérant les espaces potentiels.
df[['City location', 'State location']] = df['Location'].str.extract(r'^(.*?),\s*(.*?)$')
df.head(3)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,City location,State location
0,0,Sr Data Scientist,$137K-$171K (),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York,NY
1,1,Data Scientist,$137K-$171K (),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,Chantilly,VA
2,2,Data Scientist,$137K-$171K (),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,Boston,MA

In [14]:
df = df.drop('Location', axis=1)
df.head(3)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,City location,State location
0,0,Sr Data Scientist,$137K-$171K (),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York,NY
1,1,Data Scientist,$137K-$171K (),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,Chantilly,VA
2,2,Data Scientist,$137K-$171K (),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,Boston,MA

In [15]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace(' ( )', '')
df.head(3)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,City location,State location
0,0,Sr Data Scientist,$137K-$171K (),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York,NY
1,1,Data Scientist,$137K-$171K (),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,Chantilly,VA
2,2,Data Scientist,$137K-$171K (),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,Boston,MA

In [16]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace('(', '')
df.head(3)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,City location,State location
0,0,Sr Data Scientist,$137K-$171K ),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York,NY
1,1,Data Scientist,$137K-$171K ),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,Chantilly,VA
2,2,Data Scientist,$137K-$171K ),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,Boston,MA

In [17]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace(')', '')
df.head(3)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,City location,State location
0,0,Sr Data Scientist,$137K-$171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York,NY
1,1,Data Scientist,$137K-$171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,Chantilly,VA
2,2,Data Scientist,$137K-$171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,Boston,MA

In [18]:
df[['Min Salary Estimate', 'Max Salary Estimate']] = df['Salary Estimate'].str.split('-', expand=True)
df.head(3)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,City location,State location,Min Salary Estimate,Max Salary Estimate
0,0,Sr Data Scientist,$137K-$171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York,NY,$137K,$171K
1,1,Data Scientist,$137K-$171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,Chantilly,VA,$137K,$171K
2,2,Data Scientist,$137K-$171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,Boston,MA,$137K,$171K

In [19]:
df['Min Salary Estimate'] = df['Min Salary Estimate'].str.replace('$', '')
df['Max Salary Estimate'] = df['Max Salary Estimate'].str.replace('$', '')
df['Min Salary Estimate'] = df['Min Salary Estimate'].str.replace('K', '')
df['Max Salary Estimate'] = df['Max Salary Estimate'].str.replace('K', '')
#df['Max Salary Estimate'] = df['Min Salary Estimate'].str.replace('$', '')

In [20]:
df.head(3)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,City location,State location,Min Salary Estimate,Max Salary Estimate
0,0,Sr Data Scientist,$137K-$171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York,NY,137,171
1,1,Data Scientist,$137K-$171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,Chantilly,VA,137,171
2,2,Data Scientist,$137K-$171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,Boston,MA,137,171

In [21]:
df['Max Salary Estimate'] = df['Max Salary Estimate'].str.replace('Employer est.', '')
df.head(3)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,City location,State location,Min Salary Estimate,Max Salary Estimate
0,0,Sr Data Scientist,$137K-$171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York,NY,137,171
1,1,Data Scientist,$137K-$171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,Chantilly,VA,137,171
2,2,Data Scientist,$137K-$171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,Boston,MA,137,171

In [22]:
#df['Max Salary Estimate'] = df['Max Salary Estimate'].str.replace('(Employer est.)', '') 
#df.to_csv('job_v2.csv', sep=';',index=False)

In [23]:
df['Min Salary Estimate'] = df['Min Salary Estimate'].fillna(0).astype(int) * 1000
df['Max Salary Estimate'] = df['Max Salary Estimate'].fillna(0).astype(int) * 1000
df[['Min Salary Estimate', 'Max Salary Estimate']].head()

   Min Salary Estimate  Max Salary Estimate
0               137000               171000
1               137000               171000
2               137000               171000
3               137000               171000
4               137000               171000

In [24]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,City location,State location,Min Salary Estimate,Max Salary Estimate
0,0,Sr Data Scientist,$137K-$171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York,NY,137000,171000
1,1,Data Scientist,$137K-$171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,Chantilly,VA,137000,171000
2,2,Data Scientist,$137K-$171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,Boston,MA,137000,171000
3,3,Data Scientist,$137K-$171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",Newton,MA,137000,171000
4,4,Data Scientist,$137K-$171K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",New York,NY,137000,171000

In [25]:
df = df.drop(columns='Salary Estimate')
df.columns

Index(['index', 'Job Title', 'Job Description', 'Rating', 'Company Name',
       'Headquarters', 'Size', 'Founded', 'Type of ownership', 'Industry',
       'Sector', 'Revenue', 'Competitors', 'City location', 'State location',
       'Min Salary Estimate', 'Max Salary Estimate'],
      dtype='object')

In [26]:
df.dtypes

index                    int64
Job Title               object
Job Description         object
Rating                 float64
Company Name            object
Headquarters            object
Size                    object
Founded                  int64
Type of ownership       object
Industry                object
Sector                  object
Revenue                 object
Competitors             object
City location           object
State location          object
Min Salary Estimate      int32
Max Salary Estimate      int32
dtype: object

In [27]:
#df.to_csv('job_v3.csv', sep=';', index=False)

In [28]:
# Ici on utilise une expression régulière pour enlèver les chiffres de notre colonne 
df['Company Name'] = df['Company Name'].replace(to_replace='\d', value='', regex=True)
df.head()

,index,Job Title,Job Description,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,City location,State location,Min Salary Estimate,Max Salary Estimate
0,0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n.,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York,NY,137000,171000
1,1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n.,"Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,Chantilly,VA,137000,171000
2,2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n.,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,Boston,MA,137000,171000
3,3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n.,"Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",Newton,MA,137000,171000
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n.,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",New York,NY,137000,171000

In [29]:
# Enlèvons le \n sur notre colonne
df['Company Name'] = df['Company Name'].str.replace('\n', '')
df['Company Name']

0                                 Healthfirst.
1                                     ManTech.
2                              Analysis Group.
3                                     INFICON.
4                          Affinity Solutions.
5                                 HG Insights.
6                                    Novartis.
7                                      iRobot.
8                               Intuit - Data.
9                          XSELL Technologies.
10                                    Novetta.
11                                       labs.
12                                       PNNL.
13                       Old World Industries.
14                Mathematica Policy Research.
15       Guzman & Griffin Technologies (GGTI).
16                     Upside Business Travel.
17                                    Buckman.
18                  Insight Enterprises, Inc..
19                               Tower Health.
20                                 Triplebyte.
21                                 PulsePoint.
22                                   Exponent.
23                              Guardian Life.
24     Spectrum Communications and Consulting.
25                          Oversight Systems.
26                                        LSQ.
27                     MIT Lincoln Laboratory.
28                         Kingfisher Systems.
29                                  Formation.
                        ...
642                              Americo Life.
643                          Tokio Marine HCC.
644                        CACI International.
645                                     Apple.
646                        Maxar Technologies.
647              Southwest Research Institute.
648                  Compass Consulting Group.
649                                   Klaviyo.
650                    Monte Rosa Therapeutics
651                               AstraZeneca.
652                                  GutCheck.
653                          Juniper Networks.
654                        Hexagon US Federal.
655                        Comtech Global Inc.
656                        Berico Technologies
657                     Kehe Food Distributors
658                             Aveshka, Inc..
659                                 Perspecta.
660                               Pactera Edge
661                       Qurate Retail Group.
662                          SolutionIT, Inc..
663                 A-Line Staffing Solutions.
664                        Clear Ridge Defense
665                   Criterion Systems, Inc..
666                       Foundation Medicine.
667                                  TRANZACT.
668                                       JKGT
669                                 AccessHope
670                      ChaTeck Incorporated.
671                                 --Flowers.
Name: Company Name, Length: 672, dtype: object

In [30]:
#df.to_csv('job_v3.csv', sep=';', index=False)

In [33]:
# Enlèvons le \n sur notre colonne
df['Job Description'] = df['Job Description'].str.replace('\n', '')
df['Job Description']

0      DescriptionThe Senior Data Scientist is respon...
1      Secure our Nation, Ignite your FutureJoin the ...
2      OverviewAnalysis Group is one of the largest i...
3      JOB DESCRIPTION:Do you have a passion for Data...
4      Data ScientistAffinity Solutions / Marketing C...
5      About Us:Headquartered in beautiful Santa Barb...
6      Posting TitleData Scientist / Machine Learning...
7      IntroductionHave you always wanted to run expe...
8      Intuit is seeking a Staff Data Scientist to co...
9      Ready to write the best chapter of your career...
10     Join our team dedicated to developing and exec...
11     About UsInterested in working for a human-cent...
12     *Organization and Job ID**Job ID: 310918Direct...
13     POSITION PURPOSE:The Data Architect/Data Model...
14     Position Description:Want to make a difference...
15     *******Please Apply using this link: https://a...
16     We are an ambitious, well-funded startup with ...
17     Job Success ProfileData ScientistBuckman is a ...
18     The Data Analyst II is responsible for data en...
19     ResponsibilitiesThe Medical Laboratory Scienti...
20     Role DescriptionAs a data scientist at Tripleb...
21     PulsePoint™, a global programmatic advertising...
22     Human Factors ScientistID3336LocationPhoenix, ...
23     Position SummaryIndividuals within theBusiness...
24     What’s significantly better than working on a ...
25     Job DescriptionOversight is a leading provider...
26     Job Title: Data Scientist (Risk)Location: Orla...
27     Lexington, MA, US#job-location.job-location-in...
28     Kingfisher Systems, Inc. specializes in provid...
29     Formation provides personalization for the lar...
                             ...
642    JOB SUMMARY:We are looking for a savvy Data En...
643    Tokio Marine HCC is a leading specialty insura...
644    Job DescriptionCACI is seeking fully cleared, ...
645    Posted: May 2, 2020Role Number:200018211Play a...
646    Please review the job details below.We are loo...
647    Join our Defense and Intelligence Solutions Di...
648    Job DescriptionOur client is committed to unlo...
649    We love programming and the excitement that co...
650    Scientist / Group Lead, Cancer BiologyLocation...
651    CompanyAstraZeneca is a global, innovation-dri...
652    About UsAt GutCheck, we pioneered agile market...
653    Sr. ML/Data Scientist - AI/NLP/ChatbotMist, a ...
654    JOB DESCRIPTION:Hexagon US Federal is looking ...
655    Role: Data ScientistÂLocation: Washington, DC ...
656    Join our team dedicated to developing and exec...
657    OverviewGood people, working with good people,...
658    The work is in support of targeting and watchl...
659    Position is in support of the U.S. Army CCDC C...
660    Location: Redmond, WAClient: Microsoft (Un-Man...
661    Our Data Scientist is responsible for in-depth...
662    Solution IT Inc. is looking for an Data Scient...
663    Job DescriptionEducation and Experience:At lea...
664    Job DescriptionClear Ridge has an exciting opp...
665    Criterion Systems seeks a Data Scientist to su...
666    About Foundation Medicine:Foundation Medicine ...
667    SummaryWe’re looking for a data scientist to d...
668    Job DescriptionBecome a thought leader within ...
669    Join a thriving company that is changing the w...
670    100 Remote Opportunity As an AINLP Data Scient...
671    DescriptionThe Data Scientist will be part of ...
Name: Job Description, Length: 672, dtype: object

In [35]:
df.to_csv('job_v3.csv', sep=';', index=False)